body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend i {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
}

.legend {
  background-color: white;
  padding: 10px;
  line-height: 18px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}